.table-image {
  width: 100%;
  max-width: 100%;
  height: 48px;
  max-height: 48px;
  object-fit: cover;
}

.item-row {
  /* background-color: white; */
  transition: background-color 0.25s ease-in;
}

.item-row:hover {
  background-color: var(--primary-light-highlight-color);
  transition: background-color 0.15s ease-in-out;
}

.fa-trash-can {
  pointer-events: none;
}
