/* CARDS */

.item-card {
  min-height: 440px;
  max-height: 440px;
  transition: all 0.5s ease;
}

.item-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25) !important;
  /* background-color: var(--primary-light-highlight-color); */
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 186, 192, 0.25) 100%
  );

  transition: all 0.25s ease;
}

.item-text {
  min-height: 240px;
  max-height: 240px;
}

.card-header {
  background-color: var(--primary-light-highlight-color);
}

.main-item-image {
  width: 100%;
  object-fit: contain;
}

.main-image-edit {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.card-image {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.modal-dialog {
  background-color: white;
}

/* Item Images */
.item-detail-thumbnail-box {
  margin: 0 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.25s ease;
}

.item-detail-thumbnail-box:hover {
  transform: translate(0, -20px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25) !important;
  background-color: var(--primary-light-highlight-color);
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(0, 186, 192, 0.25) 100%
  );

  transition: background-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.25s ease;
}

.item-detail-thumbnail {
  min-height: 92px;
  max-height: 92px;
  height: 92px;
}

.item-edit-thumbnail {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1) !important;
  transition: background-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.25s ease;
}

.item-edit-thumbnail:hover {
  transform: translate(0, -20px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15) !important;
  background-color: var(--primary-light-highlight-color);
  background: linear-gradient(
    170deg,
    rgba(0, 186, 192, 0.25) 0%,
    rgba(255, 255, 255, 1) 75%
  );

  transition: background-color 0.25s ease, box-shadow 0.25s ease,
    transform 0.25s ease;
}
