.chart-body {
  border: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  min-width: 300px;
}

.chart .bar {
  background: linear-gradient(-90deg, blue, red);
}

.bar {
  fill: var(--primary-color);
  transition: all 0.5s ease;
}

.bar:hover {
  fill: var(--primary-color-hover);
  transition: all 0.15s ease;
}

.axis--x path {
  display: none;
}
