:root {
  --primary-color: #4a1ee9;
  --primary-color-hover: #8400ff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Checkbox */
input[type="checkbox"] {
  border-color: var(--primary-color);
  outline: 0 none;
}

input[type="checkbox"]:checked {
  background-color: var(--primary-color);
}

/* Select and Options */

select {
  color: var(--primary-color) !important;
  font-weight: bold !important;
}

select option:hover {
  background-color: var(--primary-color) !important;
}

select option:checked {
  background-color: var(--primary-color) !important;
  color: white !important;
}

textarea:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus,
.uneditable-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary-color) !important;
  outline: 0 none;
  transition: all 0.5s ease;
}

.btn.btn-primary {
  background: var(--primary-color);
  border: none;
  outline: 0 none;
}

.btn.btn-primary:active,
.btn.btn-primary:hover {
  background-color: var(--primary-color-hover);
  outline: 0 none;
}

.btn.btn-primary:focus {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary-color);
  outline: 0 none;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background: var(--primary-color) !important;
}

.btn.btn-outline-primary {
  background: white;
  color: var(--primary-color);
  border-color: 2px solid var(--primary-color);
  outline: 1 none;
}

.btn.btn-outline-primary:active,
.btn.btn-outline-primary:hover {
  background-color: var(--primary-color-hover);
  color: white;
  outline: 0 none;
}

.btn.btn-outline-primary:focus {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px var(--primary-color);
  outline: 0 none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  background: var(--primary-color) !important;
}

.scroll-list {
  /* height: 80px; */
  /* overflow: hidden;
  overflow-y: scroll; */
  width: 100%;
  border: 2px solid var(--primary-color);
}

.option {
  background: purple;
}

.text-primary {
  color: var(--primary-color) !important;
}

/* Controls */
.button-back {
  position: relative;
}

/* CARDS */

.item-card {
  min-height: 240px;
  max-height: 240px;
}

.item-text {
  min-height: 80px;
  max-height: 80px;
}

.card-header {
  background-color: rgba(74, 30, 233, 0.1);
}

.bar {
  fill: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 1);
}

.bar:hover {
  fill: var(--primary-color-hover);
}

.axis--x path {
  display: none;
}
