.navbar-brand {
  color: var(--primary-brand-color) !important;
}

.navbar-bg {
  background: linear-gradient(
    180deg,
    rgb(0, 70, 102) 0%,
    var(--primary-color) 10%,
    rgb(0, 46, 73) 60%,
    rgb(0, 82, 121) 99%,
    rgb(0, 46, 73) 100%
  );
}

.nav-link-item {
  text-decoration: none;
}
